[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.sln.docstates
*.ncrunchsolution
*.ncrunchproject
_ReSharper*
.*crunch*.local.xml

# Build results
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
*.vssscc
.builds

Thumbs.db
